@model IEnumerable<Storyteller.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Home Page";
    var Tag = Model.GroupBy((x) => x.Tag);
}

@section topCSS{
    <link href="~/css/HomePage.css" rel="stylesheet" />
    <link href="~/css/Hearder/StyleSheet_hearder.css" rel="stylesheet" />
    <link href="~/css/Category/Category.css" rel="stylesheet" />
}
<partial name="_HearderPartial" />

<div class="container" id="categoryName">
    <div class="row">
        <div class="col">
            @foreach (var item in Tag)
            {
                <h5>@item.Key</h5>
            }
        </div>
    </div>
</div>

<div class="container" id="script">
    <div class="row">
        <div class="col">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var item in Model)
                    {
                        <div class="swiper-slide" id="@item.ScriptCategoryId @item.ScriptId">
                            <img src="@item.ScriptUrl" alt="Alternate Text" />
                            @*<img src="https://sites.google.com/site/9711246/_/rsrc/1448253957018/dong-hua-dian-ying-tui-jian/cui-lei-xiang-ai-qing-gu-shi-yan-ye-zhi-ting/8fccf259-37df-4f31-a491-c1f3c19747af.jpg" alt="Alternate Text" />*@
                            <div id="scriptDescription">
                                <h5>@item.ScriptName</h5>
                                <h5>玩家人數：@item.ScriptMaxPlayer</h5>
                                <h5>所需時間：@item.ScriptDuration</h5>
                            </div>
                        </div>
                    }
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>

@section endJS{
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/Category/Category.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://beangostg.blob.core.windows.net/beango-static-stg/sdk/beango_stg.min.js"></script>
    <script src="~/js/BeanfunSDK/BeanfunSDK.js"></script>
    <script src="https://beangochat.blob.core.windows.net/beango-static-prod/sdk/vconsole.min.js"></script>
    <script>VConsole = new VConsole;</script>
}